<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>Welcome To My Recipes World</h1>

<!--<table>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Description</th>-->
<!--    </tr>-->
<!--&lt;!&ndash;-->
<!--    <tr th:each="recipe : ${recipes}">-->
<!--&ndash;&gt;-->
<!--        <tr>-->
<!--       &lt;!&ndash; <td th:text="$'{recipe.recipeId}'">123</td>-->
<!--        <td th:text="$'{recipe.recipeId}'">123</td>&ndash;&gt;-->
<!--        <td th:text="123">123</td>-->
<!--        <td th:text="123">Tasty Goodness</td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>